@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

* {
  font-family: 'Oswald', sans-serif;
  overflow-x: hidden;
}

.btn-outline-secondary {
    background-color: white;
    border-width: 1px;
}

ul {
  width: 60%;
}

li {
  align-self: left;
  list-style-type: none;
}
